build-ant
# 3rdparty, tmp and build direcotry
build.properties
3rdparty
tmp
xbin
docs/html
res/keys
vendor

# ahh! OSX finder!
.DS_Store

# key files
*.pem

# temp files
Makefile*
*.user
*.autosave
*.~
*.o
*.qmake.stash
*.pro.user*
*.un~

# Visual studio
*.ncb
*.idb
*.suo
*.pdb
*.vcxproj.filters
*.vcproj
*.vcxproj
*.sln
*.rc
